html {
	background-color: #CCFF99;
}

h1 {
	font-size: 50px;
	font-family: Lucida;
	text-align: center;
}

h3 {
	text-align: center;
	position: relative;
	bottom: 15px;
}

body {
	font-family: Verdana;
}

.navbar {
	display: inline-block;
	position: relative;
	padding: 0 25px 0 25px;
	left: 0px;
	bottom: 0px;
	border-left: 2px;
}

#navbar {
	text-align: center;
	border: 2px solid black;
	margin: 0 250px 0 250px;
	padding: 10px;
	border-radius: 8px;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}
a:hover {
	color: black;
	font-size: 110%;
}

a:visited {
	color: black;
}


#mainphoto {
	height: 400px;
	width: 830px;
	border-radius: 10px;
	text-align: center;
	border: 2px solid black;
}

.about_me {
	position: relative;
	text-align: center;
}

.project_img {
	width: 132px;
	height: 98px;
	border-radius: 10px;
}

table {
	padding: 30px;
}

.find_me {
	display: inline-block;
	border-radius: 5px;
	padding: 20px 20px 20px 20px;
}

.icons {
	height: 40px;
	width: 40px;
}
/*
#quote {
	border-radius: 10px;
	padding-left: 40px;
	background-color: navy;
}
*/

#my_pic {
	border-radius: 8px;
}

#social {
	background-color: black;
	width:100%;
}

#container {
	text-align: center;
	height: 80px;
	background-color: black;
	border-radius: 20px;
	margin: 0 400px 0 400px;
}

footer {
	text-align: center;
}

.top {
	position: relative;
	text-align: center;
	top: 20px;
}

/*Blog only CSS*/
#img_1 {
	display: block;
	position: relative;
	border-radius: 10px	
}

#post {
	border: 2px solid black;
	width: 70%;
}

#img_1 {
	height: 200px;
	width: 300px;
}