html {
	background: url("http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg");
}

h1 {
	font-size: 50px;
	font-family: Lucida;
	text-align: center;
}

body {
text-align: center;
font-family: Arial;
font-size: 15px;
color: #C0C0C0;
}


#nameplate {
	width: 944px;
	height: auto;
	border: 12px solid black;
	border-radius: 20px;
}	

.navbar {
	display: inline-block;
	position: relative;
	padding: 8px 40px 8px 40px;
	font-size: 20px;
	color: #484848; 
	font-family: Courier;
	text-transform: uppercase;
}

#navbar_top {	
	background: url("imgs/nav_top_background.png") no-repeat;
	background-position: center;
	text-align: center;
	padding: 13px 0 13px 0;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: #C0C0C0; 
}
a:hover {
	color: #959595;
	font-weight: bold;
	box-shadow: 0px 0px 19px 3px rgba(114, 161, 200, 1);
	background-color: rgba(141, 168, 190, 1);
}

a:visited {
	color: #C0C0C0;
}

a:active {
	font-weight: bold;
	cursor: pointer;
}

#whole {
	background-color: #101010;
	width: 944px;
	border: 12px solid black;
	margin-right: auto;
	margin-left: auto;
	margin-top: -5px;
	margin-bottom: -5px;
	border-radius: 20px;
}

#mainphoto {
	width: 500px;
	height: auto;
	border-radius: 10px;
}

.top {
	position: relative;
	text-align: center;
	top: 20px;
}

.about_me {
	position: relative;
	margin: 20px;
}

#container {
	background: url("imgs/nav_top_background.png") no-repeat;
	background-position: center;
	text-align: center;
}

.find_me {
	display: inline-block;
	padding: 27px 20px 20px 20px;
}

.icons {
	height: 40px;
	width: 40px;
}

.clear {
	padding: 10px;
}

footer {
	text-align: center;
	font-size: 12px;
	padding: 3px;
}

/*BLOG INDEX*/

#whole-2 {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.list {
	border: 2px solid white;
	border-radius: 12px;
	padding: 50px;
}

.b_tab {
	position: relative;
}

.entry {
	position: relative;
	padding: 10px;
}

.blog_photo {
	width: 150px;
	height: 150px;
	margin: 2px 5px 5px 0;
	padding: 10px;
	border-radius: 22px;
}

.blog-title {
	text-decoration: bold;
}

/*PROJECT PAGE*/

.project_img {
	width: 132px;
	height: 98px;
	border-radius: 10px;
}

table {
	padding: 50px;

}

.table-row {
	border: 2px solid white;
}

/*ABOUT ME*/

#my_pic {
	border-radius: 8px;
}

#about_me {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

