html {
	background-color: #D9D690;
}

h1 {
	font-size: 50px;
	font-family: Times;
}

body {
	font-family: Verdana;
}

.navbar {
	display: inline-block;
	position: relative;
	padding: 0 5px 0 5px;
	left: 800px;
	bottom: 50px;
}

a:hover {
	outline: dotted black;
}

a:visited {
	color: none;
}

a:active {
	color: black;
}

#mainphoto {
	display: block;
	height: 430px;
	width: 620px;
	border-radius: 10px;
}

#about_me {
	text-align: center;
	float: center;
}

.about_me {
	display: block;
	text-align: center;
}

.project_img {
	width: 132px;
	height: 98px;
	border-radius: 10px;
}

table {
	padding: 30px;
}

.find_me {
	height: 40px;
	width: 40px;
	display: inline-block;
	border-radius: 5px;
	padding: 0 10px 0 10px;
	float: right;
}
/*
#quote {
	border-radius: 10px;
	padding-left: 40px;
	background-color: navy;
}
*/

footer {
	position: absolute;
	text-align: center;
}

#my_pic {
	border-radius: 8px;
}

.bl_tab {
	margin:10px;
}

#social {
	background-color: black;
	width:100%;
}